<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>你好，朋友</title>
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/index.css">
</head>

<body>
    <!-- login/register container -->
    <div class="container">
        <!-- register -->
        <div class="form-container sign-up-container">
            <div class="form">
                <form action="/index" method="post">
                <h2>sign up</h2>
                <input type="text" name="username" id="username" placeholder="Username..." minlength="1" maxlength="18" required>
                <input type="email" name="r-email" id="r-email" placeholder="Email..." required>
                <input type="password" name="r-password" id="r-password" placeholder="Password..." minlength="8" maxlength="16" required>
                    <input type="hidden" name="action" value="register">
                    <button class="signUp">sign up</button>
                </form>
                <!-- 显示错误提示 -->
                {{ if .Error1 }}
                <p style="color: red;">{{ .Error1 }}</p>
                {{ end }}
            </div>
        </div>
        <!-- login -->
        <div class="form-container sign-in-container">
            <div class="form">
                <form action="/index" method="post">
                <h2>sign in</h2>
                <input type="email" name="l-email" id="l-email" placeholder="Email...">
                <input type="password" name="l-password" id="l-password" placeholder="Password...">
                    <input type="hidden" name="action" value="login">
                <a href="/forget" class="forget-password">forget your password</a>
                <button class="signIn">sign in</button>
                </form>
                <!-- 显示错误提示 -->
                {{ if .Error }}
                <p style="color: red;">{{ .Error }}</p>
                {{ end }}
            </div>
        </div>
        <!-- overlay container -->
        <div class="overlay_container">
            <div class="overlay">
                <!-- overlay left -->
                <div class="overlay_panel overlay_left_container">
                    <h2>welcome back!</h2>
                    <p>To keep connected with us please login with your personal info</p>
                    <button id="sign-in">sign in</button>
                </div>
                <!-- overlay right -->
                <div class="overlay_panel overlay_right_container">
                    <h2>hello friend!</h2>
                    <p>Enter your personal details and start journey with us</p>
                    <button id="sign-up">sign up</button>
                </div>
            </div>
        </div>
    </div>


    <script src="./static/index.js"></script>
</body>

</html>